[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysftp = "*"
flake8 = "*"
black = "*"
pandas = "*"
sqlalchemy = "*"
python-dotenv = "*"
pyodbc = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
